body {
    display: flex;
    width: 900px;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 20px;

}

body > * {
    width: 900px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headLeft {
    display: flex;
    flex-direction: row;
    /* justify-content: left; */
    /* background-color: aqua; */
}

#headLeft>img {
    width: 42px;
    height: 45px;
    display: flex;
}

#headRight {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* background-color: blueviolet; */
    align-items: center;
    /* padding-left: 50px; */
}

#headRight>img {
    width: 25px;
    height: 24px;
    display: flex;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 40px;
}

#div1 {
    border-style: ridge;
    border-color: gray;
    height: 20px;
}

#div2 {}

#div3 {}